#analisys {
    white-space: pre-wrap;
    border-radius: 10px;
    background-color: #f4f4f4;
    opacity: 0.6;
    padding: 10px;
  }

#main-logo {
    width: 100vw;
    height: 4rem;
    /* padding: 10px; */
   
    background-image: url(./AInalyze.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    
}

#logo {
    width: 140px;
    height: 40px;
    background-image: url(./AInalyze.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

#exchange, #stock, #profile, #login, #signup, #passwordupd, #update-profile {
    background-color: rgb(166, 204, 191);
    border: 2px solid rgb(105, 138, 245);
}
